<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule mod_php5.c>
    php_value post_max_size 20000M
    php_value upload_max_filesize 2000M
    php_value memory_limit 3000M
    php_value max_execution_time 25920000
    php_value max_input_time 25920000
    php_value session.gc_maxlifetime 12000
    php_value max_input_vars 30000
    php_value suhosin.get.max_vars 30000
    php_value suhosin.post.max_vars 30000
    php_value suhosin.request.max_vars 30000
</IfModule>
